@charset "UTF-8";

.visual-section1 {
  position: relative;
  width: 100%;
  display: table;
  table-layout: fixed;
  height: 980px;
  border-bottom: 1px solid #eee;
}

.visual-section1 .introduce,
.visual-section1 .intro-image {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  user-select: none;
}

.visual-section1 .introduce {
  font-family: roboto;
  width:63.5%;
  height:100%;
}

.visual-section1 .introduce h2 {
  color: #359eff;
  text-align: center;
  font-size: 5.5rem;
  margin-bottom: 30px;
}

.visual-section1 .introduce p {
  color: #999;
  font-size: 2.2rem;
  position: absolute;
  left: 49%;
  transform: translateX(-51%);
}


.visual-section1 .intro-image {
  width: 36.4583%;
  background: url("../image/mainImage.jpg") no-repeat;
  background-size: cover;
}

.visual-section1 .intro-wrap{
  position: absolute;
  top:0;
  right:0;
  width: 36.4583%;
  height: 100%;
  background: #0c5eb2;
  z-index: 1;
  opacity: 0.75;
}

.visual-section1 .intro-wrap .intro-title{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width:70%;
  height:70%;
  margin:auto;
}

.visual-section1 .intro-wrap .intro-title svg{
  width:80%;
  min-width:17%;
  position:fixed;
  /* right:50%; */
  /* top:50%; */
  transform: translate(50%,-50%);

}

.visual-section1 .intro-wrap .intro-title .st0 {
  fill: #EDF2FF;
  stroke:#EDF2FF;
  stroke-width: 1.5;
  stroke-miterlimit: 10;
  opacity: 0;
}

.visual-section1 .intro-wrap .intro-title .st0[data-status=on]
{
  animation: title-animation 3s;
  opacity: 1;
}

@keyframes title-animation{
  0%{
    opacity: 0;
    fill:none;
    stroke-dasharray: 200;
  }

  30%{
    opacity: 1;
    fill:none;
    stroke-dasharray: 400;
  }

  70%{
    opacity: 1;
    fill:none;
    stroke-dasharray: 800;
  }

  90%{
    opacity: 1;
    fill:rgba(237,242,255,0);
    stroke-dasharray: 1000;
  }

  100%{
    opacity: 1;
    stroke-dasharray: 1200;
    fill:rgba(237,242,255,1);
  }
}

.visual-section2 {
  width: 100%;
  height: 687px;
}

.visual-section2 .visual-container {
  display: table;
  padding-top: 100px;
  height: 100%;
}

.visual-section2 .visual-container .face-image-box,
.visual-section2 .visual-container .about-me {
  display: table-cell;
  vertical-align: middle;
}

.visual-section2 .visual-container .face-image-box {
  position: relative;
  width: 44.916%;
  height: 100%;
  text-align: center;
}

.visual-section2 .visual-container .face-image-box .face-image {
  position: relative;
  z-index: 1;
}

.visual-section2 .visual-container .face-image-box .face-image-shadow {
  position: absolute;
  top: 150px;
  left: 130px;
  width: 230px;
  height: 246px;
  background: url("../image/faceImageBack.png") no-repeat;
  background-size: contain;
}

.visual-section2 .visual-container .about-me h2 {
  margin: 0 0 20px;
  color: #0c5eb2;
  font-size: 3.08rem;
  font-family: roboto;
}

.visual-section2 .visual-container .about-me p {
  margin-left: 15px;
  font-size: 1.6rem;
  color: #666;
  font-family: notoKR;
}

.visual-section2 .visual-container .about-me .me-wrap {
  display: inline-block;
  position: relative;
  width: 220px;
  height: 30px;
}

.visual-section2 .visual-container .about-me .me-wrap span {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 220px;
  font-family: notoKR-bold;
  opacity: 0;
}

.visual-section2 .visual-container .about-me .me-wrap span.me-in {
  opacity: 1;
  animation: down 1.3s;
}

.visual-section2 .visual-container .about-me .me-wrap span.me-out {
  opacity: 0;
  animation: down2 1.3s;
}

@keyframes down {
  0% {
    opacity: 0;
    top: -30px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes down2 {
  0% {
    opacity: 1;
    top: 0;
  }

  100% {
    opacity: 0;
    top: 30px;
  }
}

.visual-section3 {
  width: 100%;
  height: 687px;
  text-align: center;
}

.visual-section3 .visual-container {
  padding-top: 220px;
  vertical-align: middle;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.visual-section3 .visual-container h3 {
  font-family: roboto;
  font-size: 2.4rem;
  color: #2b2b2b;
  position: relative;
}

.visual-section3 .visual-container h3::after {
  content: "";
  display: block;
  position: absolute;
  top: 56px;
  left: 50%;
  transform: translate(-50%);
  width: 84px;
  height: 3px;
  background: #0c5eb2;
}

.visual-section3 .visual-container p {
  font-weight: bold;
  font-family: notoKR;
  color: #0c5eb2;
  margin-top: 26px;
}

.visual-section3 .visual-container .skill-list {
  position: absolute;
  left: 50%;
  bottom: 150px;
  transform: translate(-50%);
  display:flex;
  justify-content: space-around;
  flex-flow: wrap;
  width: 80%;
}

.visual-section3 .visual-container .skill-list .skill-wrap{
  display: table-cell;
  table-layout: fixed;
}

.visual-section3 .visual-container .skill-list .skill {
  font-family: roboto;
  font-size: 1.2rem;
  position: relative;
  transition:ease-in-out all .5s;
}

.visual-section3 .visual-container .skill-list .skill::before {
  content: "";
  display: block;
  margin: 0 auto 20px;
  width: 70px;
  height: 70px;
  transition:ease-in-out all .5s;
}

.visual-section3 .visual-container .skill-list .skill:hover{
  -webkit-text-stroke: 1px #000;
  transition:ease-in-out all .5s;
}
.visual-section3 .visual-container .skill-list .skill:hover::before{
  animation: shaking 2s;
  
}

@keyframes shaking{
  0%{
    transform: rotate(10deg);
  }
  40%{
    transform: rotate(50deg);
  }
  48%{
    transform: rotate(-20deg);
  }
  60%{
    transform: rotate(20deg);
  }
  70%{
    transform: rotate(-10deg);
  }
  100%{
    transform: rotate(0deg);
  }
  /* transform: rotate(10deg); */
}

.visual-section3 .visual-container .skill-list .skill:first-child::before {
  background: url("../image/html5.svg") no-repeat center center;
  background-size:cover;
}

.visual-section3 .visual-container .skill-list .skill:nth-child(2)::before {
  background: url("../image/css.svg") no-repeat center center;
  background-size:cover;
}

.visual-section3 .visual-container .skill-list .skill:nth-child(3)::before {
  background: url("../image/js.svg") no-repeat center center;
  background-size:cover;
}

.visual-section3 .visual-container .skill-list .skill:nth-child(4)::before {
  background: url("../image/react.svg") no-repeat center center;
  background-size:cover;
}

.visual-section3 .visual-container .skill-list .skill:nth-child(5)::before {
  background: url("../image/php.svg") no-repeat center center;
  background-size:cover;
}

.visual-section3 .visual-container .skill-list .skill:nth-child(6)::before {
  background: url("../image/ps.svg") no-repeat center center;
  background-size:cover;
}

.visual-section-wrap2::before {
  content: "";
  display: block;
  position: absolute;
  background: url("../image/section_background.jpg") no-repeat;
  opacity: 0.25;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.visual-section-wrap2 {
  width: 100%;
  height: 1640px;
  position: relative;
}

.visual-section4 {
  height: 820px;
}

.visual-section4 .visual-container {
  height: 100%;
  text-align: center;
  padding-top: 154px;
}

.visual-section4 .visual-container h3 {
  font-family: roboto;
  font-size: 2.4rem;
  color: #2b2b2b;
  position: relative;
}

.visual-section4 .visual-container h3::after {
  content: "";
  display: block;
  position: absolute;
  top: 56px;
  left: 50%;
  transform: translate(-50%);
  width: 84px;
  height: 3px;
  background: #0c5eb2;
}

.visual-section4 .visual-container p {
  font-weight: bold;
  font-family: notoKR;
  color: #0c5eb2;
  margin-top: 26px;
  position: relative;
}

.visual-section4 .visual-container .project-wrap {
  display: table;
  table-layout: fixed;
  width: 100%;
  position: relative;
  top: 117px;
}

.visual-section4 .visual-container .project-wrap .project .project-image::before {
  content: "";
  display: block;
  margin: 0 auto 20px;
  width: 277px;
  height: 400px;
  box-shadow: -1px 1px 10px #ccc;
  cursor: pointer;
}

.visual-section4 .visual-container .project-wrap .project {
  display: table-cell;
  
}
.visual-section4 .visual-container .project-wrap .project p{
  color: #2b2b2b;
  font-weight: bold;
}

.visual-section4 .visual-container .project-wrap .landing-page .project-image::before {
  background: url("../image/landing.jpg") no-repeat center center;
}

.visual-section4 .visual-container .project-wrap .vivid .project-image::before {
  background: url("../image/vivid.jpg") no-repeat center center;
}

.visual-section4 .visual-container .project-wrap .baemin .project-image::before {
  background: url("../image/baemin.jpg") no-repeat center center;
}

.visual-section4 .visual-container .project-wrap .tourism .project-image::before {
  background: url("../image/tour.jpg") no-repeat center center;
}

.visual-detail-contents-wrap{
  width:100%;
  height:0%;
  background:#000;
  opacity: .8;
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  z-index: 10;
  display: none;
}
.detail-box{
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  width:0%;
  height:90%;
  background:#F7F7F7;
  z-index: 11;
  padding:30px;
  color:#333;
  font-family: roboto;
  display: none;
  opacity: 0;
}
.detail-box h3{
  font-size:3rem;
  text-align: right;
  margin-top:30px;
  position: relative;
  letter-spacing: 5px;
}
.detail-box h3::after{
  content: "";
  display: block;
  width:100px;
  height:5px;
  background:#0c5eb2;
  position: absolute;
  top:80px;
  right:0;
}

.detail-box .detail-contents{
  margin-top:50px;
  width:100%;
  height:80%;
  display: table;
}
.detail-box .detail-contents .explanation,
.detail-box .detail-contents .detail-data{
  display: table-cell;
  padding:0 10px;
}

.detail-box .detail-contents .explanation .head{
  font-family: roboto-bold;
  font-size:1.7rem;
  padding-left:15px;
  position: relative;
}

.detail-box .detail-contents .explanation .head:before{
  content:"";
  position: absolute;
  top:6px;
  left:0;
  width:5px;
  height:23px;
  background:#0c5eb2;
}

.detail-box .detail-contents .explanation .head:not(:first-child){
  margin-top:70px;
}
.detail-box .detail-contents .explanation .content{
  margin-top:20px;
  font-family: notoKR;
}

.detail-box .detail-contents .explanation .color-wrap::after{
  content:"";
  display: block;
  clear: both;
}

.detail-box .detail-contents .explanation .color-wrap .first-color,
.detail-box .detail-contents .explanation .color-wrap .second-color{
  float:left;
  width:56px;
  height:56px;
  border:1px solid #000;
  border-radius: 8px;
  margin-top:20px;
}

.detail-box .detail-contents .explanation .color-wrap .first-color{
  background:#0c5eb2;
}
.detail-box .detail-contents .explanation .color-wrap .second-color{
  background:#FFF;
}

.detail-box .detail-contents .explanation .color-wrap .second-color{
  margin-left:20px;
}

.detail-box .detail-contents .detail-data{
  width:30%;
  text-align: right;
  border-left:2px solid #0c5eb2;
  position: relative;
}
.detail-box .detail-contents .detail-data .head{
  font-size:1.1rem;
  font-family: roboto-bold;
}
.detail-box .detail-contents .detail-data .head:not(:first-child){
  margin-top:30px;
}
.detail-box .detail-contents .detail-data .content{
  margin-top:10px;
}
.detail-box .detail-contents .detail-data .code,
.detail-box .detail-contents .detail-data .demopage{
  display: block;
  width:200px;
  padding:15px;
  color:#FFF;
  text-align: center;
  background: #0c5eb2;
  position: absolute;
  right:0;
  bottom:0;
}
.detail-box .detail-contents .detail-data .code{
  bottom:80px;
}

.detail-box .close{
  width:50px;
  height:50px;
  position: absolute;
  background:transparent;
  top:0;
  right:0;
  cursor: pointer;
}

.detail-box .close:before,
.detail-box .close:after{
  content:"";
  display: block;
  width:38px;
  height:5px;
  background:#000;
  border-radius: 50px;
  position: absolute;
  top:22px;
  right:5px;
}

.detail-box .close:before{
  transform: rotate(45deg);
}

.detail-box .close:after{
  transform: rotate(-45deg);
}

.visual-section-wrap3{
  width:100%;
  height:400px;
  position: relative; 
}

.visual-section5 {
  height: 610px;
  position: absolute;
  bottom: 150px;
  left: 0;
  width: 100%;
}

.visual-section5 .visual-container {
  display: table;
  background: #fff;
  height: 100%;
  box-shadow: -1px 1px 5px #ddd;
  font-family: roboto;
}

.visual-section5 .visual-container .send-message,
.visual-section5 .visual-container .contact-information {
  display: table-cell;
}

.visual-section5 .visual-container .send-message {
  padding: 93px 60px;
  vertical-align: top;
  color: #949494;
  position: relative;
}

.visual-section5 .visual-container .send-message h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.visual-section5 .visual-container .send-message label {
  display: block;
  margin-bottom: 10px;
}

.visual-section5 .visual-container .send-message input,
.visual-section5 .visual-container .send-message textarea {
  font-family: notoKR;
  color: #333;
  font-size: 1.1rem;
  padding: 10px;
  border-bottom: 2px solid #ddd;
  width: 100%;
  transition: ease-in-out 0.3s;
  outline: transparent;
}

.visual-section5 .visual-container .send-message input {
  margin-bottom: 15px;
}

.visual-section5 .visual-container .send-message input:focus,
.visual-section5 .visual-container .send-message textarea:focus {
  border-bottom: 2px solid #0c5eb2;
}

.visual-section5 .visual-container .send-message input::placeholder,
.visual-section5 .visual-container .send-message textarea::placeholder {
  color: #ccc;
  opacity: 1;
}

/*ie 10~11*/
.visual-section5 .visual-container .send-message input:-ms-input-placeholder,
.visual-section5 .visual-container .send-message textarea:-ms-input-placeholder {
  color: #ccc;
}

/*edge*/
.visual-section5 .visual-container .send-message input::-ms-input-placeholder,
.visual-section5 .visual-container .send-message textarea::-ms-input-placeholder {
  color: #ccc;
}

.visual-section5 .visual-container .send-message textarea {
  resize: none;
  height: 100px;
}

.visual-section5 .visual-container .send-message .submit-btn {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: #0c5eb2;
  position: absolute;
  bottom: 70px;
  right: 70px;
  border-radius: 50%;
  animation: flying infinite 2s;
  transition: background ease-in-out .3s;
}

@keyframes flying{
  0%{
    transform:translateY(0%);
  }
  50%{
    transform:translateY(30%);
  }
  100%{
    transform:translateY(0%);
  }
}

.visual-section5 .visual-container .send-message .submit-btn:hover{
  background:#359eff;
  transition: background ease-in-out .3s;
}

.visual-section5 .visual-container .send-message .submit-btn::after {
  content: "";
  display: block;
  width: 60%;
  height: 60%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: url("../image/paper.svg") center center no-repeat;
  background-position-x: -1px;
  padding-left: 1px;
  transition:ease-in-out .3s;
}

.visual-section5 .visual-container .send-message .submit-btn:hover::after{
  transform:rotate(60deg);
  transition:ease-in-out .3s;
}


.visual-section5 .visual-container .contact-information {
  width: 33.75%;
  color: #fff;
  background: #0c5eb2;
  position: relative;
  box-sizing: border-box;
  padding: 95px 42px;
}

.visual-section5 .visual-container .contact-information strong {
  font-size: 1.94rem;
  display: block;
  margin-bottom: 60px;
}

.visual-section5 .visual-container .contact-information .contact-contents {
  display: table;
}

.visual-section5 .visual-container .contact-information .contact-image,
.visual-section5 .visual-container .contact-information .contact-text {
  display: table-cell;
  vertical-align: middle;
}

.visual-section5 .visual-container .contact-information .contact-contents .contact-image {
  width: 13%;
}

.visual-section5 .visual-container .contact-information .contact-contents .contact-image img {
  width: 100%;
}

.visual-section5 .visual-container .contact-information .addr,
.visual-section5 .visual-container .contact-information .tel {
  margin-bottom: 25px;
}

.visual-section5 .visual-container .contact-information .email {
  margin-bottom: 65px;
}

.visual-section5 .visual-container .contact-information .tel .contact-image img {
  width: 100%;
  height: 35px;
}

.visual-section5 .visual-container .contact-information .email .contact-image img {
  width: 100%;
  height: 20px;
}

.visual-section5 .visual-container .contact-information .contact-text {
  font-size: 1.25rem;
}

.visual-section5 .visual-container .contact-information .tel .contact-text a,
.visual-section5 .visual-container .contact-information .email .contact-text a {
  color: #fff;
}

.visual-section5 .visual-container .contact-information .personal-data::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #13508f;
  margin-bottom: 65px;
}

.visual-section5 .visual-container .contact-information .sns {
  display: table;
  table-layout: fixed;
}

.visual-section5 .visual-container .contact-information .sns a {
  display: table-cell;
  color: transparent;
  width: 60px;
  height: 30px;
  overflow: hidden;
  max-width: 60px;
  padding: 0 20px;
  transition:ease-in-out all .5s;
}

.visual-section5 .visual-container .contact-information .sns a:hover{
  transition:ease-in-out all .3s;
  transform: scale(1.3);
}

.visual-section5 .visual-container .contact-information .sns a:first-child {
  background: url("../image/facebook.svg") center center no-repeat;
}

.visual-section5 .visual-container .contact-information .sns a:nth-child(2) {
  background: url("../image/github.svg") center center no-repeat;
}

.visual-section5 .visual-container .contact-information .sns a:nth-child(3) {
  background: url("../image/instagram.svg") center center no-repeat;
}

.visual-section5 .visual-container .contact-information .sns a:nth-child(4) {
  background: url("../image/kakao-talk.svg") center center no-repeat;
}


@media screen and (max-width:1200px) and (min-width:961px)
{
  
}

@media screen and (max-width:1199px){
  .visual-section1{
    height:100vh;
  }
  .visual-container{
    width:100%;
  }

  
}

@media screen and (max-width:960px) and (min-width:721px){
  
  .visual-section4 .visual-container .project-wrap .project .project-image::before{
    width:90%;
  }
}

@media screen and (max-width:960px){
  .detail-box{
    overflow-y: scroll;
  }
  .detail-box .detail-contents .explanation, .detail-box .detail-contents .detail-data{
    display: block;
    width:100%;
    border:none;
  }
  .detail-box .detail-contents .detail-data
  {
    margin-top:30px;
    padding-bottom:200px;
  }
}

@media screen and (max-width:720px) and (min-width:415px){
  

  .visual-section2 .visual-container .face-image-box .face-image-shadow{
    top: 40px;
    left: 220px;
  }

  .visual-section3 .visual-container .skill-list{
    bottom:100px;
  }

  .visual-section5 .visual-container .contact-information .contact-contents{
    margin:0 auto;
    width:280px;
  }

  .visual-section5 .visual-container .contact-information .contact-contents:not(:first-child){
    margin-top:15px;
  }

  .visual-section5 .visual-container .contact-information .personal-data::after{
    margin-top:30px;
  }
  

}

@media screen and (max-width:720px){
  .visual-section1 .introduce{
    width:100%;
  }
  .visual-section1 .intro-image,
  .visual-section1 .intro-wrap{
    width:0%;
  }

  .visual-section2 .visual-container .face-image-box{
    width: 100%;
  }
  .visual-section2 .visual-container .about-me{
    display: table-row;
    text-align: center;
  }

  .visual-section-wrap2{
    height:2840px;
  }

  .visual-section3 .visual-container .skill-list .skill{
    margin-top:20px;
  }

  .visual-section4 .visual-container .project-wrap .project{
    display: block;
  }

  .visual-section4 .visual-container .project-wrap .project:not(:first-child){
    margin-top:70px;
  }

  .visual-section5 .visual-container .send-message,
  .visual-section5 .visual-container .contact-information{
    display:block;
    width:100%;
  }

  .visual-section5 .visual-container .contact-information strong{
    text-align: center;
  }

  .visual-section5 .visual-container .contact-information .contact-contents .contact-image{
    width:44px;
  }

  .visual-section5 .visual-container .contact-information .sns{
    margin:0 auto;
  }
  .visual-section5 .visual-container .contact-information .sns a{
    height:45px;
    padding:0 40px;
  }
}

@media screen and (max-width:414px) and (min-width:361px){
  .visual-section2 .visual-container .face-image-box .face-image-shadow{
    top:20px;
    left:65px;
  }

  .visual-section2 .visual-container .about-me p{
    font-size:1.5rem;
  }

}

@media screen and (max-width:414px){
  .visual-section3 .visual-container .skill-list{
    bottom:50px;
  }
}

@media screen and (max-width:360px){
  .visual-section2 .visual-container .face-image-box .face-image-shadow{
    top:50px;
    left:40px;
  }

  .visual-section2 .visual-container .about-me p{
    font-size: 1.2rem;
  }
  
  .visual-section5 .visual-container .contact-information{
    padding:95px 20px;
  }
}